@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito&family=Roboto&display=swap");
.hero-unit {
  position: relative;
  color: #fff;
  font-family: Nunito;
}

.hero-img {
  width: 100%;
  height: 60vh;
}

.hero-titles {
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5em;
}

.hero-titles h1 {
  font-family: Montserrat;
  width: 40%;
}

.hero-titles button {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}

.hero-titles button:hover {
  color: #ff6d1b;
}
@media only screen and (max-width: 820px) {
  .hero-img {
    height: 40vh;
  }

  .hero-titles {
    height: 40vh;
    padding: 4em 2em;
  }

  .hero-titles h1 {
    width: 100%;
  }
}
