.profile-img {
  border-radius: 50%;
}

.form {
  margin: auto;
  width: 20vw !important;
}

.edit-button {
  background-color: #000;
  border: none;
  color: #fff;
  height: 5vh;
  width: 7vw;

  border-radius: 5px;
}

.edit-button:hover {
  background-color: #ff6d1b;
}

@media only screen and (max-width: 1000px) {
  .form {
    width: 90% !important;
  }

  .edit-button {
    width: 80px;
  }
  .profile-img {
    width: 20% !important;
  }
}
