.profile {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}

.row{
  width: 100%;
}

.profile-left {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70vh;
}

.profile-right {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 820px) {
  .profile{
    width: 90vw;
  }
  .profile-left {
    width: auto;
  }

  .profile-right {
    width: auto;
  }
}
