.sidebar-list {
  padding-left: 0;
  background-color: #ff6d1b;
}

.sidebar-list-item:hover {
  color: #fff;
}

.sidebar-list-item.active {
  background-color: #000;
  color: #ff6d1b;
}

.sidebar-list-item.deactivate:hover {
  background-color: #e53c4f;
}

.profile-link.active {
  background: #ff6d1b;
  color: #fff;
}

.sidebar-list-item {
  padding: 1em 1em;
  border-bottom: 0.5px solid #fff;

  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  display: block;
}

.sidebar-heading {
  display: inline-block;
}

.deactivate {
  background-color: #eb1d36;
}

.sidebar-icon {
  padding-top: 1em;
}
@media only screen and (max-width: 1000px) {
  .sidebar-heading {
    display: none !important;
  }

  .sidebar-icon {
    padding-top: 0;
  }
  .sidebar-list-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
}
