.sidebar-list {
  padding-left: 0;
  background-color: #ff6d1b;
}

.sidebar-list-item:hover {
  color: #fff;
}

.sidebar-list-item.active{
  background-color: #000;
  color: #ff6d1b
}

.sidebar-list-item.deactivate:hover{
  background-color: #e53c4f;
}

.profile-link.active{
  background: #ff6d1b;
  color: #fff;
}

.sidebar-list-item {
  padding: 1.5em 1em;
  border-bottom: 0.5px solid #fff;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  display: block;
}

.deactivate {
  background-color: #eb1d36;
}
