.logo {
  display: flex !important;
  justify-content: flex-start;
  align-items: baseline;
  color: #ff6d1b !important;
  font-size: 2.2rem;
  font-weight: bold;
  padding-inline: 0 !important;
  letter-spacing: 3px;
  padding: 0.25rem 0 !important;
  font-family: 'Great Vibes', cursive;
}


.logo img{
  width: 42px;
  margin-right: 5px;
}

.nav_link {
  font-size: 18px;
  margin-right: 2em;
  text-decoration: none;
  cursor: pointer;
  /* font-weight: 500; */
}

.nav_link:hover {
  color: #ff6d1b !important;
}

.book-now {
  background-color: transparent !important;
  color: #fff !important;
  border: 1px solid #fff;
}

.book-now:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

@media only screen and (max-width: 720px) {
  .book-now {
    width: 150px !important;
    margin-top: 0.5em;
    font-weight: 600 !important;
  }

  .nav_link {
    font-size: 18px;
    margin-right: 2em;
    margin-left: 0 !important;
    font-weight: 600;
  }

  .nav_link:hover {
    color: #ff6d1b !important;
  }
}
