.booking-table-container {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70vw;
  height: 80vh;
  background-color: #fff;
}

.booking-table {
  border: 1px solid black;
  border-collapse: separate !important;
}
@media only screen and (max-width: 960px) {
  .booking-table-container {
    width: 95vw;

    margin: 0 auto;
    overflow-y: auto;
    overflow-x: auto;
  }
}
