.containertwo
{
  display: flex;
  justify-content: space-around;
}
.para2
{
 font-size: 16px;
 color:darkgray;
}
.maincontainer
{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}