@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito&family=Roboto&display=swap");

body {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
