@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");

.profile-card {
  padding-top: 4em;
  font-family: Montserrat;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
}

.user {
  color: #ff6d1b;
}

@media only screen and (max-width: 1000px) {
  .profile-card {
    padding-top: 2em;
  }
  .profile-img {
    width: 40%;
  }
}
